<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="DEBUG">
    <Properties>
        <Property name="log_path">${sys:log.path:-logs}</Property>
        <Property name="server.port">${sys:server.port:-00}</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern="%d{yyy-MM-dd HH:mm:ss} [%t] %-5p %c{1} %M %L %x - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>